#main_body {
    margin: 8px;
    display: block;
}

.photos {
    text-align: center;
    width: auto;
    height: 650px;
}


#mainHeading {
    text-align: center;
    color: red;
    font-size: 40px;
}


.City_List {
    text-align: center;
    font-size: 20px;
}

.City_Headers {
    text-align: center;
    font-size:40px;
}

.City_Paragraphs {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 23px;
}

#testP {
    color: green;
}

#footer {
    text-align: center;
}
#About_The_Author {
    color: blue;
}

